.root {
    /* -st-states: value(enum(10, 15, 20, 30, 40, 50)); */
    display: grid;
    /* grid-template-columns: repeat( 15, minmax(50px, 1fr) ); */
}

.squares {
    display: flex;
}

/* 
.lineWin {
    width: 246px;
    position: absolute;
    border-bottom: 10px solid #ff3d00;
    transform: rotate(135deg);
    border-radius: 10px;
    z-index: 100000;
} */
