.root {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.redo:hover {
    transition: all 0.5s;
    background-color: #f0f8ff;
    color: #3f3f3f;
}

.undo:hover {
    transition: all 0.5s;
    background-color: #f0f8ff;
    color: #3f3f3f;
}

.restartBtn:hover {
    transition: all 0.5s;
    background-color: #f0f8ff;
    color: #3f3f3f;
}
